.main-container-form {
  text-align: center;
  width: 90%;
  margin: auto;
  margin-top: 30px;
  padding: 20px;
  border-radius: 5px;
 .container-title{
   height: 100px;
   width: 90%;
   margin: auto;
 }
  span {
    color: gray;
  }
  h2{
    color: rgb(51, 16, 107);
  }
}
